div.layouts-default__main
  TheOneSignal
  TheHeader.layouts-default__header
  TheScroll.layouts-default__scroll
  div.layouts-default__content
    block content
  TheSidebar.layouts-default__sidebar
  TheFooter.layouts-default__footer
  ThePhotoSwipe
  TheSubscribeQuestionModal
  TheSubscribeListModal
